/*-----INICIO-----*/

.container-index {
    background-image: url(../assets/Zeus_044.png);
    background-size: 100%;
    background-color: $color-bg;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.9fr 1.1fr;
    gap: 0px 0px;
    grid-template-areas:
        "index1 index2"
        "index1 index3";
    margin-bottom: 30px;
}

.index1 {
    grid-area: index1;
}

.index2 {
    grid-area: index2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index3 {
    grid-area: index3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25%;
}

.index-parrafo {
    font-family: $font-main;
    font-size: 30px;
    color: $color-font-main;
    text-align: center;
    padding-right: 25%;
}
