/*-----PRODUCCIONES-----*/

.obras {
    background-color: $color-second;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.obra {
    background-color: $color-main;
    width: 30%;
}

.obraImg {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 15px solid #000;
}

.obra__contenedora {
    padding: 10px;
    font-family: $font-main;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.obra__contenedora h2 {
    color: $color-font-second;
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}

.obra__contenedora h3 {
    color: $color-font-second;
    background-color: #fff;
    text-align: center;
    font-size: 15px;
}

.obra__contenedora p {
    color: $color-font-main;
    text-align: center;
    font-size: 18px;
}

.obra__contenedora__instagram img {
    width: 10%;
    height: 5%;
}

.logoIgObra:hover {
    transform: scale(1.3);
    transition: all 1s;
}

.obra__contenedora__instagram {
    text-align: center;
    justify-content: end;
}