/*-----HEADER-----*/
#container-header {
    background-color: $color-main;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}

.logopjr {
    transition: all 1s;

    &:hover {
        transform: scale(1.2);
    }
}

.nav-item {
    font-family: $font-main;
    font-size: 20px;
}

#nav-link-design {
    color: $color-font-main;
    text-decoration: none;

    &:hover {
        animation: change 1s;
    }

    @keyframes change {
    25% {
        opacity: 30%;
    }
}
}

