.card-title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 10px 10px #939293;
    letter-spacing: 6px;

}