@import url('https://fonts.googleapis.com/css2?family=Abel&family=Oswald&display=swap');

/*-----ESTILOS GENERALES-----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
}