//colores fondos
$color-main: #0e0029;
$color-second:#210202;
$color-bg: #000;
$color-bg-second: #fff;

//fuente personalizada

$font-main: 'Abel', sans-serif;
$font-title: 'Oswald', sans-serif;

//colores fuentes

$color-font-main: #fff;
$color-font-second: #000; 
$color-font-shadow: #939293;
